{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <title>Presentation Bar</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Presentation Bar</h1>

    <label for="increment">Confidence level:
        <input id="increment" name="increment" type="range" value="10" min="0" max="100" step="1">
    </label>

    <button hx-post="/vote" hx-target="#bar" hx-include="[name=increment]">
        Vote
    </button>

    <div id="bar">
        {{ template "bar" . }}
    </div>

</body>
{{ end }}

{{ block "bar" . }}
    <div id="progress-bar">
        <div id="progress" style="background-color: hsl({{ .Avg }}, 70%, 50%); width: {{ .Avg }}%;">
            {{ .Avg }}%
        </div>
    </div>

    <p>Total votes: {{ .Votes }}</p>
{{ end }}
